html
	head
		link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
		link(rel='stylesheet', href='/styles/index.css')

		title User Information App
		
	body

	include navbar.pug

	p Is this working Yes