ul.nav
	li#one
		a(href='/searchbar') SEARCHBAR
	li#two
		a(href='/userlist') LIST
	li#three
		a(href='/adduser') ADD USER

style.

	body {
		margin: 0;
		padding: 0;
	}

	* {
		box-sizing: border-box;
	}

	ul.nav {
		width: 100vw;
		//- background-color: grey;
		border-bottom: 2px solid black;
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.nav li {
		float: left;
		display: inline;
		text-align: center;
		width: 33.3%;
		padding: 15px;
		font-size: 3vw;
		font-family: arial;
		font-weight: 100;
		box-sizing: border-box;
	}

	a {
		text-decoration: none;
	}

	#two, #three {
		border-left: 1px solid black;
	}

	::selection {
		color: white;
		text-shadow: 0px 0px 4px black;
		background: rgba(240,240,240,0.5);
	}