html

	head
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous")
		script(src='/scripts/searchbar.js')

		link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
		link(rel='stylesheet', href='/styles/searchbar.css')
		meta(charset='UTF-8')
		
		title Searchbar

	body

	include navbar.pug

	div#main

		div#container

			//- div#searchform.grid

			p(class='note') You can look up an existing user here

			form(method='POST' action='/searchbar' autocomplete='off')

				input(list='suggestion' id='autocomplete' name='searchreq' type='text')
				datalist(id='suggestion')
				input(id='submit' type='submit' value='Search')

