/*@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');*/
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
	background-color: WhiteSmoke;
	width: 100vw;
	overflow-x: hidden;
}

.ucoll {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	scroll-behavior: smooth;
	background: url('/images/VBurlyuk_vertical.jpg');
	background-size: cover;
	background-position: 50% 0%;
}

div.ucoll ul:nth-child(1) {
	margin-top: 5vh;
}

ul.userlist {
	list-style: none;
	width: 100%;
	max-height: 10vh;
	padding: 0;
	margin: 30;
	transition: 0.8s ease;
}

ul.userlist[data-fullmatch=true],ul.userlist[data-lnamematch=true],ul.userlist[data-fnamematch=true]{
	border-top: 4px solid black;
}

ul.userlist:last-child {
	margin-bottom: 10vh;
}

li.users {
	border: 1px solid black;
	border-bottom: 0;
	padding: 10;
	background: white;
	text-transform: uppercase;
	width: 60%;
	display: block;
	margin: auto;
	transition: 0.8s ease;
}

ul.userlist[data-fullmatch=true] li:nth-child(1){
	background: goldenrod;
}

ul.userlist[data-fnamematch=true] li:nth-child(1), ul.userlist[data-lnamematch=true] li:nth-child(1){
	background: beige;
}

ul.userlist[data-fnamematch] li:nth-child(2), ul.userlist[data-lnamematch] li:nth-child(2), ul.userlist[data-fullmatch=true] li:nth-child(2){
	background: aliceblue;
}

ul.userlist li:nth-child(1) {
	/*font-family: 'Old Standard TT', serif;*/
	font-family: 'Lora', serif;
	font-weight: bold;
}

ul.userlist li:nth-child(2) {
	border-bottom: 2px solid black;
	font-family: 'Open Sans', sans-serif;
	text-align: right;
}

ul.userlist:hover li.users {
	background-color: rgba(0,0,90,0.6);
	text-align: center;
	color: white;
	/*border-color: white;*/
	/*border-width: 2px;*/
}

#matches {
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4));
	border-bottom: 2px solid black;
}

div#matches ul:nth-child(1){
	margin-top: 10vh;
}

ul.partialMatch li:nth-child(1){
	background: GoldenRod;
}

a {
	color: rgba(1,1,99,1);
}

a:hover {
	color: white;
	text-shadow: 0px 0px 1px rgba(1,1,99,1);
}