@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
	background-color: WhiteSmoke;
	width: 100vw;
	overflow-x: hidden;
	height: 100%;
}

#main {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}

.ucoll {
	grid-column: 2/3;
	display: grid;
	grid-auto-rows: minmax(7vh,12vh);
	width: 100%;
	border-left: 2px solid black;
	border-right: 2px solid black;
	scroll-behavior: smooth;
	grid-row-gap: 4vh;
	justify-items: center;
	padding-top: 7vh;
	padding-bottom: 5vh;
}

ul.userlist {
	list-style: none;
	display: inline-block;
	width: 80%;
	height: 100%;
	padding: 0;
	background: white;
	transition: 0.8s ease;
	justify-self: center;
	-webkit-padding-start: 0;
}

ul.userlist[data-fullmatch=true],ul.userlist[data-lnamematch=true],ul.userlist[data-fnamematch=true]{
	border-top: 4px solid black;
}

li.users {
	/*border: 1px solid black;*/
	border-bottom: 0;
	padding: 10;
	height: 50%;
	text-transform: uppercase;
	box-sizing: border-box;
	display: block;
	transition: 0.8s ease;

}

ul.userlist[data-fullmatch=true] li:nth-child(1){
	background: goldenrod;
}

ul.userlist[data-fnamematch=true] li:nth-child(1), ul.userlist[data-lnamematch=true] li:nth-child(1){
	background: beige;
}

ul.userlist[data-fnamematch] li:nth-child(2), ul.userlist[data-lnamematch] li:nth-child(2), ul.userlist[data-fullmatch=true] li:nth-child(2){
	background: aliceblue;
}

ul.userlist li:nth-child(1) {
	font-family: 'Lora', serif;
	font-weight: bold;
}

ul.userlist li:nth-child(2) {
	border-bottom: 2px solid black;
	font-family: 'Open Sans', sans-serif;
	text-align: right;
	text-indent: 10%;
}

ul.userlist:hover li.users {
	background: white;
	text-align: center;

}

#matches {
	border-bottom: 2px dashed rgba(70,70,70,1);
	grid-column: 1/4;
	display: grid;
	grid-auto-rows: minmax(7vh,12vh);
	grid-gap: 4vh;
	width: 100%;
	height: 100%;
	padding-top: 5vh;
	align-items: space-evenly;
	z-index: 1;
}


ul.partialMatch li:nth-child(1){
	/*border-top: 2px solid black;*/
	background: rgba(250,250,250,1);
}

ul.partialMatch{
	width: 80%;
	height: 100%;
}

a {
	color: white;
}

a:hover {
	color: brown;
}